@media screen and (max-width: 1023px) {
    .header {
        display:flex;
        flex-direction: column;
        background-color: pink;
        justify-content: center;
    }

    .flex__barra {
        margin-left: 1rem;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image:linear-gradient(to bottom, pink, grey);
    }
    .titulo {
        font-size: 50px;
    }
    .subtitulo {
        font-size: 30px;
    }
    .main__texto {
        text-align: center;
        gap: 3rem;
    }
    
    .grid {
        height: 600px;
        width: 400px;
        margin-right: 6rem;
        display: grid;
        grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px;
    }
    .titulo__servicios {
        font-size: 40px;
        padding-right: 10rem;
        padding-top: 6px;
    }

    .grid__servicios {
        border: solid black;
        height: 600px;
        width: 400px;
        padding-right: 3rem;
        display: grid;
        grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px;
    }
    .iframe {
        display: none;
    }
    .logo__faq {
        width: 22rem;
        height: 22rem;
    }
}

@media screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: row;
        background-color: pink;

    }
    .barra__navegacion {
        display: none;
    }
    .logo__header{
        width: 8rem;
        height: 8rem;
        margin-left: 1rem;
    }
    .titulo {
        font-size: 30px;
    }
    .subtitulo {
        font-size: 20px;
    }
    .parrafo__4 {
        font-size: 20px;
    }
    .grid {
        border: solid black;
        height: 300px;
        width: 200px;
        margin-left: 6rem;
        display: grid;
        grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px;
    }
    .icono__movil {
        display: block;
        margin-right: 4rem;
        font-size: 50px;
        text-decoration: none;
        color: black;
    }
    #lateral {
        display: block;
        background-color: rgba(0, 0, 0, 0.9);
        width: 50%;
        height: 80vh;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 100;
        transition: left 2s;
    }
    #lateral:target {
        left: 0%;
    }
    .flex__barra {
        flex-direction: column;
       margin-left: 15px;
    }
    .elementos__nav {
        color: white;
    }
    .titulo2 {
        font-size: 40px;
    }
    .texto__servicios {
        font-size: 10px;
    }
    .main__servicios {
        background-image:linear-gradient(to bottom, pink, grey);
        padding-left: 5rem;
    }
    .titulo__servicios {
        font-size: 27px;
        padding-right: 11rem;
    }
   .iframe {
      display: none;
   }
   .titulo__faq {
       font-size: 38px;
   }
   .logo__faq {
       width: 15rem;
       height: 15rem;
       padding-right: 3rem;
   }
}